<div class="home-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div id="homeMain" class="col-md-12">
        <img id="homeImage" src="../images/homepageimage.jpg">
      </div>
    </div>
    <div class="row">
      <div id="paragraph-1" class="col-md-10 col-md-offset-1">
        <h1>Get detailed population, education housing, economic and workforce demographics, for any U.S. location.<h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 demographics-features">
        <div class="col-md-4">
          <img src="../images/housing-icon.jpg" alt="">
          <h4 class="feature-title">House Data Reports</h4>
          <p>Household size, household type, year dwelling built, mortage status and multipe other data points for the housing market by address or zipcode.</p>
        </div>
        <div class="col-md-4">
          <img src="../images/economic-icon.jpg" alt="">
          <h4 class="feature-title">Economic Data Reports</h4>
          <p>Household income, travel time to work, employee occupation and additional data sets to provide a full view of economic activity by address or zipcode.</p>
        </div>
        <div class="col-md-4">
          <img src="../images/population-icon.jpg" alt="">
          <h4 class="feature-title">Population Data Reports</h4>
          <p>A full population breakdown by age, sex, race, marital status and other data points with in a region by address or zipcode.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="paragraph-2" class="col-md-10 col-md-offset-1">
        <h1>Full Demographic Reports using the Census 2010 and 2013 American Community Survey<h1>
      </div>
    </div>
  </div>
</div>
