body {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  min-height: 100px;
  background-color: white;
}

.navbar-brand:hover {
  opacity: 0.8;
}

.navbar-header {
  min-height: 100px;
}

.navbar-right {
  font-size: 16px;
  margin-top: 25px;
  margin-right: 10px;
}

.navbar-default .navbar-nav>li>a {
  padding: 15px 20px 15px 20px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #75a765;
}

.navbar-btn {
  color: #2AA504;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 0px;
  margin: 0px;
}

#footer {
  border-top: 1px solid #EAEAEA;
  background-color: #FCFCFC;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer div:last-child {
  padding-right: 89px;
}

.footer-title {
  font-weight: 700;
  line-height: 200%;
}

#footer p {
  margin: 0px;
}

.social-icons {
  padding: 5px;
}
